/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #34282c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


@import url("https://fonts.googleapis.com/css?family=K2D");

* {
  box-sizing: border-box;
}

body {
  color: white;
    background: #4CAFAF; 
    background: -webkit-linear-gradient(right, #4CAFAF, #205FA0);
    background: -moz-linear-gradient(right, #4CAFAF, #205FA0);
    background: -o-linear-gradient(right, #4CAFAF, #205FA0);
    background: linear-gradient(to left, #4CAFAF, #205FA0);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  background-size: cover;
  min-height: 100vh;
  font-family: K2D, "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  overflow-x: hidden;
  background-image: url("https://image.freepik.com/free-photo/fitness-exercise-working-out-healthy-lifestyle-background-concept_47840-274.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: -0.5em 1em 2em rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 40px;
}

label {
    color: #b2dfdb  ;
    font-size: 17px;
}

input {
    color: white;
}



th {
    color: #b2dfdb
}

footer {
	min-height: 120px;
  margin-left: 80px;
	
	box-sizing: border-box;
}
footer p {
	color: #FFFFFF;
	margin: 20px 0 0 0;
}
.socialIcons {
	font-size: 45px;
	color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 55em) {
  
  .buttons-nav {
   
    flex-direction: column;
  }
  
}